* {
  margin: 0;
  padding: 0;
}

#index {
  margin-top: 380px;
}
#index h1 {
  font-size: 50px;
}
#index p,
h1 {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}
body {
  color: bisque;
  font-family: "Montserrat", sans-serif;
  background-image: url(Gambar/magic-glowing-black-background-purple-and-green-wallpaper-wallpaper-preview.jpg);
}

.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 20px 20px;
  width: 98%;
  top: 0;
  background-color: #d621d5;
}
.nav #myprofile {
  font-family: "Edu TAS Beginner", cursive;
}
.nav #myprofile a {
  color: bisque;
  text-decoration: none;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  padding: 0 5px;
}
.nav ul li a {
  color: bisque;
  text-decoration: none;
  font-size: 0.8rem;
}
.nav ul li a:hover,
.nav #myprofile a:hover {
  color: black;
}
